extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Ewerton Luna

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Hi, my name is Ewerton. It’s so nice to meet you! I’m a Computer Science student and an Electrical Engineer graduated from the Federal University of Pernambuco. 
            | At the moment I've been focusing on Full Stack Web Development while going for the Computer Science degree.
            | I love learning and it's been an amazing experience to study technologies, specially programming. I've had some intermediate experience with other languages besides JavaScript, like Python, Java, C,
            | but since I started focusing on Web Development, JavaScript has been my main tool for development.
            | I hope to work on an innovating and refreshing team, putting what've I learned available to work for your company. I also hope to learn a lot from the experience, since there's never enough to be learned in the tech industry.
            | Feel free to contact me via email or social media (links on the right side bar). Thank you for your time!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Frontend JavaScript
          li Backend Javascript
          li Object Oriented Programming
          li Express Web Applications
          li jQuery
          li Ajax
          li Git
          li npm
          li Java
        h6 Contact Info

        ul
          li ewerton.al@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/ewerton-de-ara%C3%BAjo-luna-51a076192/') LinkedIn
        a.button.expanded(href='https://github.com/ewertonluna/') GitHub
        a.button.expanded(href='https://www.facebook.com/ewerton.luna') Facebook
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  